# Ignorowanie plików binarnych i wyników kompilacji
/build/
*.o
*.obj
*.so
*.exe
*.dll
*.dylib

# Ignorowanie plików generowanych przez CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
*.ninja_deps
*.ninja_log
rules.ninja

# Ignorowanie plików konfiguracyjnych i tymczasowych edytorów
*.swp
*~
.DS_Store

# Ignorowanie plików logów
*.log

# Ignorowanie plików Qt
*.user
*.pro.user
*.pro.user.*

# Ignorowanie plików generowanych przez Doxygen
docs/html/
docs/latex/

/.vscode
